.cardWrapper {
    aspect-ratio: 9 / 16;
    cursor: pointer;
    display: grid;
    grid-template-columns: 0.25fr 130px 0.5fr 130px 0.25fr;
    grid-template-rows: 0.5fr 0.75fr 0.5fr 2fr 0.7fr 1fr;
    grid-template-areas:
        ". body-top body-top body-top ."
        "header header header header header"
        "header header header header header "
        ". body-mid body-mid body-mid ."
        ". card-action-demo body-bottom card-action-source ."
        "stack-icons stack-icons stack-icons stack-icons stack-icons";
    margin-bottom: 4rem;
    transform-style: preserve-3d;
    height: 625px;
    width: 350px;
}

.cardWrapper:hover .cardBody {
    filter: brightness(1.15);
}

.cardBody {
    --aug-tl: 50px;
    --aug-tr: 30px;
    --aug-br: 20px;
    --aug-br-extend2: 33%;
    --aug-bl: 20px;
    --aug-bl-extend1: 33%;
    --aug-border-bg: linear-gradient(150deg, var(--color-pink), var(--color-blue-light));
    --aug-inlay-all: 4px;
    --aug-inlay-bg: transparent;
    background-size: cover;
    height: 86%;
    width: 100%;
    grid-column: 2 / -2;
    grid-row: body-top-start / body-bottom-end;
    z-index: 1;
    transition: filter 200ms ease-in;
}

.cardBodyAugReset {
    min-height: 100%;
}

.cardBodyImg {
    aspect-ratio: 2/3;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

.cardHeader {
    grid-area: header;
    display: grid;
    grid-template-rows: 0.75fr 0.5fr;
    grid-template-areas:
        "title"
        "subtitle";
    background: linear-gradient(338deg, rgba(var(--color-blue-light-raw), 0.55), rgba(var(--color-purple-raw), 0.6));
    padding: 0.5rem 0 0 0.5rem;
    border: 2px groove rgba(var(--color-pink-raw), 0.6);
    z-index: 2;
}

.cardTitle {
    font-family: Orbitron, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 1.25em;
    color: #ffffff;
    text-shadow: 2px 2px var(--color-pink);
    grid-area: title;
    z-index: 2;
    transform: translateZ(80px);
}

.cardSubtitle {
    font-family: Jura, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.25em;
    color: #ffffff;
    text-shadow: 2px 2px var(--color-pink);
    grid-area: subtitle;
    z-index: 2;
    transform: translateZ(35px);
}

.btnCardAction {
    align-items: center;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: "Orbitron", sans-serif;
    justify-content: center;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.1s ease-in;
}

.btnCardAction i {
    font-size: 1rem;
    margin-right: 5px;
}

.btnCardAction:hover {
    filter: brightness(115%);
}

.btnCardAction:active,
.btnCardAction:focus {
    filter: brightness(85%);
}

.btnDemo {
    --aug-tl: 20px;
    --aug-border-bg: var(--color-pink);
    --aug-inlay-all: 2px;
    --aug-inlay-bg: linear-gradient(300deg, var(--color-pink) -9.08%, var(--color-purple) 83.6%);
    grid-area: card-action-demo;
    z-index: 2;
    text-shadow: 1px 1px var(--color-pink);
    transform: translateZ(20px);
}

.btnSource {
    --aug-tr: 20px;
    --aug-border-bg: var(--color-blue-light);
    --aug-inlay-all: 2px;
    --aug-inlay-bg: linear-gradient(300deg, var(--color-blue-light) -9.08%, var(--color-blue-mid) 83.6%);
    grid-area: card-action-source;
    z-index: 2;
    text-shadow: 1px 1px var(--color-blue-light);
    transform: translateZ(20px);
}

.cardIconStack {
    grid-area: stack-icons;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding-top: 20px;
    width: 100%;
}

.stackIconWrapper {
    --aug-all-width: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    transition: all 0.1s ease-in;
    transform: translateZ(35px);
}

.stackIconWrapper img {
    width: 60%;
}

.stackIconWrapper.express {
    --aug-border-bg: var(--color-express);
    background: linear-gradient(150deg, transparent, rgba(var(--color-express-raw), 0.5));
}

.stackIconWrapper.firebase {
    --aug-border-bg: var(--color-firebase);
    background: linear-gradient(150deg, transparent, rgba(var(--color-firebase-raw), 0.5));
}

.stackIconWrapper.java {
    --aug-border-bg: var(--color-java);
    background: linear-gradient(150deg, transparent, rgba(var(--color-java-raw), 0.5));
}

/* The Java icons a bit tall for its wrapper */
.stackIconWrapper.java img {
    width: 50%;
}

.stackIconWrapper.materialui {
    --aug-border-bg: var(--color-materialui);
    background: linear-gradient(150deg, transparent, rgba(var(--color-materialui-raw), 0.5));
}

.stackIconWrapper.matplotlib {
    --aug-border-bg: var(--color-matplotlib);
    background: linear-gradient(150deg, transparent, rgba(var(--color-matplotlib-raw), 0.5));
}

.stackIconWrapper.mongodb {
    --aug-border-bg: var(--color-mongodb);
    background: linear-gradient(150deg, transparent, rgba(var(--color-mongodb-raw), 0.5));
}

.stackIconWrapper.mysql {
    --aug-border-bg: var(--color-mysql);
    background: linear-gradient(150deg, transparent, rgba(var(--color-mysql-raw), 0.5));
}

.stackIconWrapper.nextjs {
    --aug-border-bg: var(--color-nextjs);
    background: linear-gradient(150deg, transparent, rgba(var(--color-nextjs-raw), 0.5));
}

.stackIconWrapper.nodejs {
    --aug-border-bg: var(--color-nodejs);
    background: linear-gradient(150deg, transparent, rgba(var(--color-nodejs-raw), 0.5));
}

.stackIconWrapper.numpy {
    --aug-border-bg: var(--color-numpy);
    background: linear-gradient(150deg, transparent, rgba(var(--color-numpy-raw), 0.5));
}

.stackIconWrapper.python {
    --aug-border-bg: var(--color-python);
    background: linear-gradient(150deg, transparent, rgba(var(--color-python-raw), 0.5));
}

.stackIconWrapper.react {
    --aug-border-bg: var(--color-react);
    background: linear-gradient(150deg, transparent, rgba(var(--color-react-raw), 0.5));
}

.stackIconWrapper.redux {
    --aug-border-bg: var(--color-redux);
    background: linear-gradient(150deg, transparent, rgba(var(--color-redux-raw), 0.5));
}

.stackIconWrapper.sass {
    --aug-border-bg: var(--color-sass);
    background: linear-gradient(150deg, transparent, rgba(var(--color-sass-raw), 0.5));
}

.stackIconWrapper.styledcomponents {
    --aug-border-bg: var(--color-styledcomponents);
    background: linear-gradient(150deg, transparent, rgba(var(--color-styledcomponents-raw), 0.5));
}

.stackIconWrapper.tailwindcss {
    --aug-border-bg: var(--color-tailwindcss);
    background: linear-gradient(150deg, transparent, rgba(var(--color-tailwindcss-raw), 0.5));
}
