/* breakpoints 
		taken from MUI specification */
$breakpoint-xs: 0px;
$breakpoint-sm: 600px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1536px;
/* colors */
$color-purple: rgb(113, 28, 145);
$color-purple-raw: 113, 28, 145;
$color-pink: rgb(234, 0, 217);
$color-pink-raw: 234, 0, 217;
$color-blue-light: rgb(10, 189, 198);
$color-blue-light-raw: 10, 189, 198;
$color-blue-mid: #133e7c;
$color-blue-dark: rgb(9, 24, 51);
$color-blue-dark-raw: 9, 24, 51;
$color-yellow: #f9c434;
$color-orange: #f99634;
$color-bootstrap: rgb(119, 17, 247);
$color-bootstrap-raw: 119, 17, 247;
$color-css3: rgb(21, 114, 182);
$color-css3-raw: 21, 114, 182;
$color-express: #fff;
$color-express-raw: 255, 255, 255;
$color-firebase: rgb(245, 130, 32);
$color-firebase-raw: 245, 130, 32;
$color-handlebars: rgb(66, 52, 38);
$color-handlebars-raw: 66, 52, 38;
$color-html5: rgb(228, 77, 38);
$color-html5-raw: 228, 77, 38;
$color-java: rgb(231, 111, 0);
$color-java-raw: 231, 111, 0;
$color-javascript: rgb(240, 219, 79);
$color-javascript-raw: 240, 219, 79;
$color-materialui: rgb(0, 176, 255);
$color-materialui-raw: 0, 176, 255;
$color-matplotlib: rgb(207, 205, 217);
$color-matplotlib-raw: 207, 205, 217;
$color-mongodb: rgba(67, 153, 52);
$color-mongodb-raw: 75, 153, 52;
$color-mysql: rgb(0, 97, 138);
$color-mysql-raw: 0, 97, 138;
$color-nextjs: rgb(255, 255, 255);
$color-nextjs-raw: 255, 255, 255;
$color-nodejs: rgb(121, 205, 41);
$color-nodejs-raw: 121, 205, 41;
$color-numpy: rgb(76, 171, 207);
$color-numpy-raw: 76, 171, 207;
$color-python: rgb(255, 212, 69);
$color-python-raw: 255, 212, 69;
$color-react: rgb(97, 218, 251);
$color-react-raw: 97, 218, 251;
$color-redux: rgb(118, 74, 188);
$color-redux-raw: 118, 74, 188;
$color-sass: rgb(205, 103, 153);
$color-sass-raw: 205, 103, 153;
$color-styledcomponents: rgb(241, 160, 219);
$color-styledcomponents-raw: 241, 160, 219;
$color-tailwindcss: rgb(56, 178, 172);
$color-tailwindcss-raw: 56, 178, 172;
$color-typescript: rgb(0, 122, 204);
$color-typescript-raw: 0, 122, 204;

:export {
    breakpointXs: $breakpoint-xs;
    breakpointSm: $breakpoint-sm;
    breakpointMd: $breakpoint-md;
    breakpointLg: $breakpoint-lg;
    breakpointXl: $breakpoint-xl;
    colorPurple: $color-purple;
    colorPurpleRaw: $color-purple-raw;
    colorPink: $color-pink;
    colorPinkRaw: $color-pink-raw;
    colorBlueLight: $color-blue-light;
    colorBlueLightRaw: $color-blue-light-raw;
    colorBlueMid: $color-blue-mid;
    colorBlueDark: $color-blue-dark;
    colorBlueDarkRaw: $color-blue-dark-raw;
    colorYellow: $color-yellow;
    colorOrange: $color-orange;
    colorBootstrap: $color-bootstrap;
    colorBootstrapRaw: $color-bootstrap-raw;
    colorCSS3: $color-css3;
    colorCSS3Raw: $color-css3-raw;
    colorExpress: $color-express;
    colorExpressRaw: $color-express-raw;
    colorFirebase: $color-firebase;
    colorFirebaseRaw: $color-firebase-raw;
    colorHandlebars: $color-handlebars;
    colorHandlebarsRaw: $color-handlebars-raw;
    colorHTML5: $color-html5;
    colorHTML5Raw: $color-html5-raw;
    colorJava: $color-java;
    colorJavaRaw: $color-java-raw;
    colorJavaScript: $color-javascript;
    colorJavaScriptRaw: $color-javascript-raw;
    colorMaterialUI: $color-materialui;
    colorMatplotlib: $color-matplotlib;
    colorMatplotlibRaw: $color-matplotlib-raw;
    colorMongoDB: $color-mongodb;
    colorMongoDBRaw: $color-mongodb-raw;
    colorMySQL: $color-mysql;
    colorMySQLRaw: $color-mysql-raw;
    colorNextjs: $color-nextjs;
    colorNextjsRaw: $color-nextjs-raw;
    colorNodeJS: $color-nodejs;
    colorNodeJSRaw: $color-nodejs-raw;
    colorNumpy: $color-numpy;
    colorNumpyRaw: $color-numpy-raw;
    colorPython: $color-python;
    colorPythonRaw: $color-python-raw;
    colorReact: $color-react;
    colorReactRaw: $color-react-raw;
    colorRedux: $color-redux;
    colorReduxRaw: $color-redux-raw;
    colorSass: $color-sass;
    colorSassRaw: $color-sass-raw;
    colorStyledComponents: $color-styledcomponents;
    colorStyledComponentsRaw: $color-styledcomponents-raw;
    colorTailwindCSS: $color-tailwindcss;
    colorTailwindCSSRaw: $color-tailwindcss-raw;
    colorTypeScript: $color-typescript;
    colorTypeScriptRaw: $color-typescript-raw;
}
